<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>{{site.name}} by lapawa</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  </head>
  <body>

      <header>
        <h1><a href="/">{{site.name}}</a></h1>
        <p></p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <a href="https://github.com/lapawa" class="button fork"><strong>View On GitHub</strong></a>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul class="posts">
          {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <section>
      <h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
<!-- end of _includes/header.html -->